.bars-icon{
    display: none;
}

.navbar2{
    display: none;
}

.store{
    position: relative;
}
.store span {
    position: absolute;
    top: -10px;
}

.scroll-top-btn span{
    background-color: blue;
    color: #fff;
    padding: 6px 10px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    transition: 0.5s ease;
    
}
@media screen and (max-width: 768px) {
        .bars-icon{
            display: block;
        }
        .navbar1{
            display: none;
        }
       
    
}