.section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

}

.section-txt{
    display: inline-block;
    position: absolute;
    background: linear-gradient(rgb(255 255 255 /40%) 0 0);
}

